body{
font-family: Roboto, sans-serif;
color: #212121;
background-color: #FFFFFF;
font-size: 100%;
letter-spacing: 0.03em;
margin: 0;
padding: 0;
}


:root{
    --color1: #000000;
    --color2: #2196F3;
    --color3: #2F303A;;
    --color4: #FFFFFF;
    --color5: #757575;
    --color6: #F5F4FA;
    --color7: #ECECEC;
    --color8: #212121;
    --color9: #188CE8;
    --color10: #EEEEEE;
}


.container{
width:1200px;
margin: 0 auto;
}
    


/* _______________________________________HEADER_________________________ */
.header{
height: 80px;
border: 1px solid var(--color7);
}

.div-head{
display: flex;
}

.logo-head{
font-size: 26px;
line-height: 1.1;
font-family: 'Raleway';
text-decoration: none;
color: var(--color1);
margin-left: 15px;
margin-top: 24px;
}

.logo-two{
color: var(--color2);
}
    

.nav-head{
display: flex;
}

.header-menu{
display: flex;
list-style-type: none;
gap: 50px;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
padding-left: 93px;
margin-bottom: 32px;
margin-top: 32px;
}

.menu-link{
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration: none;
color: var(--color8);
font-weight: 500;
}

.header-contacts{
display: flex;
list-style-type: none;
padding-left: 344px;
gap: 50px;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
margin-bottom: 32px;
margin-top: 32px;
margin-right: 15px;
}

.menu-contacts{
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration: none;
font-weight: 500;
color: var(--color5);
}

/* _______________________________________MAIN-INDEX____________________ */

/* _______________________________________SECTION 1*/
.section-one{
height: 600px;
background: var(--color3);
}


.nav-sec-one{
width: 1200px;
margin: auto;
justify-content: center;
}

.h1{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
margin: 0;
padding-top: 200px;
padding-left: 52px;
color: var(--color4);
}

.button-sec-one{

border: 0;
font-size: 16px;
line-height: 1.88;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
font-weight: 700;
margin-left: 492px;
margin-top: 30px;

cursor: pointer;
color: var(--color4);
background: var(--color9);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.button-sec-one:hover{
background: var(--color2);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

/* _______________________________________SECTION 2*/
.section-two{
margin: 0;
}

.hidden{
opacity: 0;
display: flex;
justify-content: center;
margin: 0;
height: 94px;

}

.ul-sec-two{
display: flex;
justify-content: center;
gap: 30px;
}

.li-sec-two{
list-style-type: none;
}

.h3-sec-two{

font-size: 14px;
line-height: 1.1;
text-transform: uppercase;
margin: 0;
padding: 0;
}

.text-sec-two{

font-size: 14px;
line-height: 1.71;
color: var(--color5);
margin: 0;
padding: 0;
}

/* _______________________________________SECTION 3 */
.section3{

}

.nav-sec-three{
margin-bottom: 94px;
}

.h2-sec-three{
font-size: 36px;
line-height: 1.1;
text-align: center;
margin: 0 auto;
margin-top: 94px;
}

.ul-sec-three{
display: flex;
gap: 30px;
padding-left: 15px;
margin-top: 50px;
}

.li-sec-three{
list-style: none;
}

/* _______________________________________SECTION 4 */
.section-four{
background: var(--color6);
}

.nav-sec-four{
justify-content: center;
margin: 0 auto;
height: 648px;
}

.h2-sec-four{

height: 42px;
font-size: 36px;
line-height: 1.1;
text-align: center;
margin: 0 auto;
padding-top: 94px;
}

.ul-sec-four{
display: flex;
justify-content: center;
gap: 30px;
margin-bottom: 94px;
margin-top: 50px;
padding: 0;

}

.li-sec-four{
list-style-type: none;
background: var(--color4);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
justify-content: center;
flex-direction: column;

}

.h3-sec-four{ 
font-weight: 500;
font-size: 16px;
line-height: 1.1;
text-align: center;

margin: 0;
color: var(--color8);
padding-top: 30px;
}

.img-sec-four{

}

.text-sec-four{
padding-bottom: 30px;
font-size: 16px;
line-height: 1.1;
text-align: center;
padding-top: 10px;
margin: 0;
color: var(--color5);
}



/* _______________________________________MAIN-PORTFOLIO__________________________ */
.main-portfolio{
justify-content: center;
}

/* ______________________________________SECTION 5 */
.section-five{

}

.ul-sec-five{
display: flex;
gap: 8px;
margin: 0;
padding: 0;
justify-content: center;
margin-top: 94px;
}

.li-five{
display: flex;
list-style-type: none;
margin: 0;
display: inline;
}

.button-sec-five{ 
border: 0;
font-size: 16px;
line-height: 1.6;
background: var(--color6);
border-radius: 4px;
cursor: pointer;
padding: 6px 22px;

}

.button-sec-five:hover{
background: var(--color2);
color: var(--color4);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
/* ______________________________________SECTION 12 */
.section-six{
width: 1200px;
margin-top: 50px;
margin-bottom: 94px;
}
.ul-sec-six{
display: flex;
flex-wrap: wrap;
gap: 30px;  
margin: 0;
padding: 0;
justify-content: center;
}

.li-sec-six{
    
list-style-type: none;
box-sizing: border-box;


left: 615px;
top: 262px;

border: 1px solid var(--color10);
}

.h3-sec-six{
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin: 0;
padding: 0;
margin-top: 20px;
margin-left: 24px;
}

.text-sec-six{
    font-weight: 400;
font-size: 16px;
line-height: 1.8;
margin: 0;
padding: 0;
margin: 4px 24px;
color: var(--color5);
}

/* _______________________________________FOOTER_________________________ */
.footer{
background: var(--color3);
}

.nav-one-foot{
padding-top: 60px;
padding-left: 15px;
}

.logo-foot{
font-size: 26px;
line-height: 0.8;
font-family: 'Raleway';
text-decoration: none;
color: var(--color4);
}

.nav-two-foot{

}

.ul-foot{
list-style-type: none;
padding: 0;
margin: 0;
}

.adress{
font-weight: 400;
font-style: normal;
font-size: 14px;
line-height: 1.71;
text-decoration: none;
color: var(--color4);
}

.contacts-footer{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
text-decoration: none;
color:rgba(255, 255, 255, 0.6); 
}

.li-foot{
margin-top: 9px;
}

.nav-two-foot{
padding-bottom: 60px;
padding-left: 15px;
margin-top: 20px;
}

.header-footer:hover{
color: var(--color2);
}

.active{
color: var(--color2);
}