body{
font-family: Roboto, sans-serif;
color: #212121;
background-color: #FFFFFF;
font-size: 100%;
letter-spacing: 0.03em;
margin: 0;
padding: 0;
}


:root{
    --color1: #000000;
    --color2: #2196F3;
    --color3: #2F303A;;
    --color4: #FFFFFF;
    --color5: #757575;
    --color6: #F5F4FA;
    --color7: #ECECEC;
    --color8: #212121;
    --color9: #188CE8;
    --color10: #EEEEEE;
}


.container{
width:1200px;
margin: 0 auto;
}
    
.logo-color2{
color: var(--color2);
}


/* _______________________________________HEADER_________________________ */
.header{
height: 80px;
border: 1px solid var(--color7);

}

.div-head{
display: flex;
}

.logo-head{
width: 145px;
height: 31px;
font-size: 26px;
line-height: 1.1;
font-family: 'Raleway';
text-decoration: none;
color: var(--color1);
margin-left: 15px;
margin-top: 24px;

}

.nav-head{
display: flex;
}

.menu-li1{
display: flex;
list-style-type: none;
gap: 50px;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
padding-left: 93px;
margin-bottom: 32px;
margin-top: 32px;
}

.menu-button{
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration: none;
color: var(--color8);

}

.menu-li2{
display: flex;
list-style-type: none;
padding-left: 344px;
gap: 50px;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
margin-bottom: 32px;
margin-top: 32px;
margin-right: 15px;
}

.contacts-button{
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration: none;

color: var(--color5);
}

/* _______________________________________MAIN1__________________________ */
.main1{
}

/* ____________________________________SECTION 1*/
.section1{
height: 600px;
background: var(--color3);
}


.nav-sec1{
width: 1200px;
margin: auto;
justify-content: center;
}

.h1{
width: 696px;
height: 120px;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
margin: 0;
padding-top: 200px;
padding-left: 252px;
color: var(--color4);
}

.button-section1{
width: 216px;
height: 50px;
border: 0;
font-size: 16px;
line-height: 1.88;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

margin-left: 492px;
margin-top: 30px;

cursor: pointer;
color: var(--color4);
background: var(--color9);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.button-section1:hover{
background: var(--color2);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

/* _______________________________________SECTION 2*/
.section2{
margin: 0;
}

.hidden{
opacity: 0;
display: flex;
justify-content: center;
margin: 0;
height: 94px;

}

.ul-section2{
display: flex;
justify-content: center;
gap: 30px;
}

.li-section2{
list-style-type: none;
}

.h3-section2{
width: 270px;
height: 16px;
font-size: 14px;
line-height: 1.1;
text-transform: uppercase;
margin: 0;
padding: 0;
}

.text-section2{
width: 270px;
height: 72px;
font-size: 14px;
line-height: 1.71;
color: var(--color5);
margin: 0;
padding: 0;
}

/* _______________________________________SECTION 3 */
.section3{

}

.h2-section3{
width: 367px;   
height: 42px;
font-size: 36px;
line-height: 1.1;
text-align: center;
margin: 0 auto;
margin-top: 94px;
}

.nav-section3{
margin-bottom: 94px;
}

.ul-section3{
display: flex;
gap: 30px;
padding-left: 15px;
margin-top: 50px;
}

.li-section3{
list-style: none;
}

/* _______________________________________SECTION 4 */
.section4{
background: var(--color6);
}

.nav-section4{
justify-content: center;
margin: 0 auto;
height: 648px;
}

.h2-section4{

height: 42px;
font-size: 36px;
line-height: 1.1;
text-align: center;
margin: 0 auto;
padding-top: 94px;
}

.ul-section4{
display: flex;
justify-content: center;
gap: 30px;
margin-bottom: 94px;
margin-top: 50px;
padding: 0;

}

.li-section4{
list-style-type: none;
width: 270px;
height: 368px;
background: var(--color4);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
justify-content: center;
flex-direction: column;

}

.h3-section4{ 
font-weight: 500;
font-size: 16px;
line-height: 1.1;
text-align: center;

margin: 0;
color: var(--color8);
padding-top: 30px;
}

.img-sec4{

}

.text-section4{
font-size: 16px;
line-height: 1.1;
text-align: center;
padding-top: 10px;

margin: 0;
color: var(--color5);
}



/* _______________________________________MAIN2__________________________ */
.main2{
justify-content: center;
}

/* ______________________________________SECTION 11 */
.section11{

}

.ul-section11{
display: flex;
gap: 8px;
margin: 0;
padding: 0;
justify-content: center;
margin-top: 94px;
}

.button-li11{
display: flex;
list-style-type: none;
margin: 0;
display: inline;
}

.button-section11{ 
border: 0;
font-size: 16px;
line-height: 1.6;
background: var(--color6);
border-radius: 4px;
cursor: pointer;
padding: 6px 22px;
}

.button-section11:hover{
background: var(--color2);
color: var(--color4);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
/* ______________________________________SECTION 12 */
.section12{
width: 1200px;
margin-top: 50px;
margin-bottom: 94px;
}
.ul-section12{
display: flex;
flex-wrap: wrap;
gap: 30px;  
margin: 0;
padding: 0;
justify-content: center;
}

.li-section12{
    
list-style-type: none;
box-sizing: border-box;

width: 370px;
height: 404px;
left: 615px;
top: 262px;

border: 1px solid var(--color10);
}

.h3-section12{
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin: 0;
padding: 0;
margin-top: 20px;
margin-left: 24px;
}

.text-section12{
width: 322px;
height: 30px;
font-size: 16px;
line-height: 1.8;
margin: 0;
padding: 0;
margin: 4px 24px;
color: var(--color5);
}

/* _______________________________________FOOTER_________________________ */
.foot{
background: var(--color3);

}

.logo-foot{
width: 145px;
height: 31px;

font-size: 26px;
line-height: 0.8;

font-family: 'Raleway';
text-decoration: none;
color: var(--color4);
}


.nav1-foot{
padding-top: 60px;
padding-left: 15px;
}

.nav2-foot{

}

.ul-foot{
list-style-type: none;
padding: 0;
margin: 0;
}

.adress{
width: 231px;
height: 21px;
font-style: normal;
font-size: 14px;
line-height: 1.71;
text-decoration: none;
color: var(--color4);
}

.contacts-footer{
width: 231px;
height: 21px;
font-size: 14px;
line-height: 1.71;
text-decoration: none;
color:rgba(255, 255, 255, 0.6); 
}

.li-foot{
margin-top: 9px;
}

.nav2-foot{
padding-bottom: 60px;
padding-left: 15px;
margin-top: 20px;
}

.hover:hover{
color: var(--color2);
}

.active{
    color: var(--color2);
}