.body{
font-family: 'Roboto';


color: #212121;

font-family: 'Raleway';


}

a:hover {
color: #2196F3; 
}
    


/* header */


.header{
width: 1600px;
height: 80px;
left: 0px;
top: 0px;

background: #FFFFFF;
}

.logo{
padding-left: 215;
list-style-type: none;
width: 145px;
height: 31px;
left: 215px;
top: 24px;

text-decoration: none;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;

color: #000000;
} 



.link-li{
}

.link-header{ 
 width: 45px;
 height: 16px;
 left: 453px;
 top: 32px;

text-decoration: none;

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

}

.contakt-li{

}

.contact{
width: 122px;
height: 16px;
left: 1263px;
top: 32px;

text-decoration: none;

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}


/* main */

.main{

}

.button-li{

}

.button-main{
display:inline-block;



font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;

text-align: center;
letter-spacing: 0.03em;


width: 125px;
height: 38px;
left: 593px;
top: 174px;

background: #F5F4FA;
border-radius: 4px;

cursor: pointer;
}

.img-li{
    display: inline;
}

.img{

}


.h3-img{
width: 322px;
height: 36px;
left: 1039px;
top: 576px;

font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;


}

.text-img{
width: 322px;
height: 30px;
left: 1039px;
top: 616px;

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
}


/* footer */


.footer{

width: 1600px;
height: 252px;
left: 0px;
top: 1628px;

background: #2F303A;
}

.adress{
width: 231px;
height: 21px;
left: 215px;
top: 1739px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: #FFFFFF;

}

